---
BasedOnStyle: Google
IndentWidth: 4
UseTab: false
BreakBeforeBraces: Attach
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
---
